In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../Dataset/crm_clean_master_data.csv")

## Funnel Summary Report

In [12]:
funnel_summary = (
    data.groupby('deal_stage')
    .agg(
        total_deals = ('opportunity_id', 'count'),
        total_revenue = ('close_value', 'sum'),
    )
    .reset_index()
)
funnel_summary.to_csv("funnel_summary,csv", index=False)

In [5]:
funnel_summary

    deal_stage  total_deals  total_revenue
0     Engaging         1589            0.0
1         Lost         2473            0.0
2  Prospecting          500            0.0
3          Won         4238     10005534.0

## Sales Agent Performance Table

In [19]:
agent_performance = (
    data.groupby('sales_agent')
    .agg(
        deals_cloed = ('opportunity_id','count'),
        total_revenue = ('close_value', 'sum'),
        avg_cycle_days = ('sales_cycle_days', 'mean')
    )
    .reset_index()
)
agent_performance.to_csv("crm_sales_agent_perf.csv", index=False)

In [20]:
agent_performance

           sales_agent  deals_cloed  total_revenue  avg_cycle_days
0        Anna Snelling          448       275056.0       49.976190
1            Boris Faz          210       261631.0       43.267974
2         Cassey Cress          346       450489.0       45.961686
3       Cecily Lampkin          203       229800.0       38.743750
4        Corliss Cosme          310       421036.0       47.218341
5      Daniell Hammack          259       364229.0       44.860963
6      Darcel Schlecht          747      1153214.0       45.842676
7        Donn Cantrell          275       445860.0       48.930909
8         Elease Gluck          177       289195.0       46.277778
9        Garret Kinder          123       197773.0       49.439024
10    Gladys Colclough          317       345674.0       48.146552
11       Hayden Neloms          202       272111.0       47.427632
12      James Ascencio          267       413533.0       50.485437
13  Jonathan Berthelot          345       284886.0       49.799242
14       Kami Bicknell          362       316456.0       47.577206
15     Kary Hendrixson          438       454298.0       49.850746
16     Lajuana Vencill          311       194632.0       52.796537
17      Markita Hansen          306       328792.0       48.334802
18   Marty Freudenburg          281       291195.0       46.113402
19     Maureen Marcano          285       350395.0       50.446009
20         Moses Frase          260       207182.0       56.923077
21     Niesha Huffines          239       176961.0       52.571429
22        Reed Clapper          237       438336.0       44.565401
23     Rosalina Dieter          160       235403.0       49.845455
24  Rosie Papadopoulos          160       230169.0       45.983471
25   Versie Hillebrand          361       187693.0       46.753788
26      Vicki Laflamme          451       478396.0       46.556196
27    Violet Mclelland          261       123431.0       51.652850
28      Wilburn Farren          110       157640.0       52.000000
29           Zane Levy          349       430068.0       44.413793

## Top 10 Sales Agent

In [6]:
data.groupby("deal_stage")["close_value"].describe()

,count,mean,std,min,25%,50%,75%,max
deal_stage,,,,,,,,
Engaging,1589.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
Lost,2473.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
Prospecting,500.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
Won,4238.0,2360.909391,2544.484463,38.0,518.0,1117.0,4429.5,30288.0